body {
    font-family: sans-serif;background-color: rgb(0, 255, 0);
}h1
{text-align: center;background: red;border-radius: 30px; }

ol{background: white;border-radius: 40px;}

font{background: turquoise;border-radius: 20px;}

footer font{padding: 10px;margin: 30px;}

img{ width: 150px;height:100px ;border-radius: 30px;}
 ul{background: yellow;border-radius: 30px;}
 p{background: violet;}
